@import "vars";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

body {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
}

.container {
  max-width: 1470px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  padding: 55px 0 55px 29px;
  font-size: 30px;
  line-height: 28px;
  text-transform: capitalize;
  box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
  border-radius: 4px;
  color: #000;
  background-color: #fff;
}
