@import "vars";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

body {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  line-height: 15px;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-fluid {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

@media (max-width: 720px) {
  .container-fluid {
    padding: 0 15px;
  }
}

.title {
  padding: 34px 27px 34px 32px;
  font-size: 30px;
  text-transform: capitalize;
  box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
  border-radius: 4px;
  color: #000;
  background-color: #fff;
}

.title-text {
  text-align: center;
  font-size: 36px;
  color: #000;
  &--blue {
    color: $btn;
  }
}

.text {
  max-width: 680px;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  line-height: 30px;
  color: $descr;
}

.user {
  display: inline-block;
  position: relative;
  margin-right: 24px;
  padding-left: 42px;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  color: #000;
}

.user-logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.platform {
  position: relative;
  padding-left: 17px;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  color: $wp-bg;
}

.platform-icon {
  position: absolute;
  top: 2px;
  left: -7px;
  width: 16px;
  height: 16px;
}

.btn-buy {
  padding: 8px 17px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 15px;
  border: none;
  color: $btn;
  cursor: pointer;
  background-color: rgba($btn, 0.1);
}

.btn-like {
  position: relative;
  padding: 0 0 0 22px;
  line-height: 0;
  font-size: 15px;
  border: none;
  background-color: transparent;
  color: $descr;
  cursor: pointer;
  .btn-icon {
    path {
      fill: $wp-bg;
    }
  }
}

.btn-basket {
  position: relative;
  padding-left: 23px;
  font-size: 15px;
  font-weight: 400;
  border: none;
  background-color: transparent;
  color: $btn;
  cursor: pointer;
  .btn-icon {
    path {
      fill: $btn;
    }
  }
}

.btn-icon {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 7px;
  left: 0;
}
