@import "fonts";
@import "global";
@import "vars";

//  Start header

.header__top {
  background-color: $bg;
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
}

.header__logo {
  display: block;
  margin-left: 10px;

  .logo {
    width: 200px;
  }
}

.header__info {
  position: relative;
  display: flex;
  align-items: center;
}

.header__info-seller {
  display: block;
  margin-right: 50px;
  padding: 10px 18px;
  font-size: 14px;
  text-align: center;
  border-radius: 28px;
  border: 1px solid transparent;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
  background-color: $btn;
  color: #fff;
  transition: background-color 0.5s, color 0.5s, border 0.5s;

  &:hover,
  &:focus {
    background-color: #fff;
    color: $btn;
    border: 1px solid $btn;
  }
}

.header__info-iconsvg {
  path {
    fill: #7e8fa1;
  }
}

.header__info-link {
  position: relative;

  & + .header__info-link {
    margin-left: 30px;
  }
}

.header__info-icon {
  display: flex;
  align-items: center;
  margin-right: 46px;
}

.header__info-messages {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 16px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 50%;
  color: #fff;

  &--color-pink {
    left: 6px;
    width: 26px;
    min-height: 22px;
    background-color: #ff6a6c;
  }

  &--color-green {
    left: 12px;
    min-width: 22px;
    min-height: 22px;
    background-color: #62d03b;
  }

  &--color-blue {
    left: 16px;
    min-width: 22px;
    min-height: 22px;
    background-color: $btn;
  }
}

.header__user {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 22px;
}

.header__profile-name {
  position: relative;
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #333;
}

.header__profile-purse {
  font-size: 15px;
  font-weight: 400;
  color: $btn;
}

.header__bottom-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
  background-color: #fff;
}

.header__menu-item {
  position: relative;
  display: flex;
  padding: 0;
}

.header__menu-list {
  & + .header__menu-list {
    margin-left: 34px;
  }
}

.header__menu-link {
  font-size: 15px;
  line-height: 42px;
  font-weight: 500;
  text-transform: uppercase;
  color: $text;
  transition: color 0.5s;

  &:hover,
  &:focus {
    color: $btn;
  }
}

.header__form {
  position: relative;
  display: block;
  max-width: 358px;
  width: 100%;
}

.header__form-input {
  display: block;
  width: 100%;
  height: 44px;
  padding: 0 75px 0 24px;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  border: 1px solid #d9dfe5;
  border-radius: 36px;

  &::placeholder {
    color: #898f96;
  }

  &:focus,
  &:hover {
    border: 1px solid $btn;
  }
  outline: transparent;
}

.header__form-btn {
  position: absolute;
  top: -1px;
  right: -4px;
  padding: 12px 26px;
  border: 1px solid transparent;
  border-radius: 36px;
  background-color: $btn;
  transition: background-color 0.5s, border 0.5s;

  &:hover,
  &:focus {
    background-color: #fff;
    border: 1px solid $btn;
    .header__form-icon {
      path {
        fill: $btn;
      }
    }
  }
}

.header__form-icon {
  width: 16px;
  height: 16px;
  transition: fill 0.5s;
  path {
    fill: #fff;
  }
}

// end
// header

// Start
//          marketplace

.marketplace {
  padding: 171px 0 254px;
  background-color: #294dcf;

  &__inner {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    color: #f3f3f8;
  }

  &__title {
    margin-bottom: 29px;
    font-size: 60px;
    line-height: 70px;
    font-weight: 700;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  }

  &__text {
    display: block;
    font-weight: 400;
  }

  &__descr {
    margin-bottom: 86px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
  }

  &__btn {
    padding: 17px 32px 16px 31px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 28px;
    border: 1px solid #ffffff;
    background-color: transparent;
    color: #fff;
    font-size: 16px;
    outline: transparent;
    transition: background-color 1s, color 1s;
    margin-right: -7px;

    & + .marketplace__btn {
      margin-left: 30px;
    }

    &--active,
    &:hover,
    &:focus {
      background-color: #fff;
      color: $btn;
    }
  }
}
//  end
//  marketplace

//  Start Form-search

.search-form {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    z-index: 3;
    top: -82px;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 1110px;
    height: 135px;
    border-radius: 6px;
    background-color: rgba(#fff, 0.5);
  }

  &::after {
    content: "";
    position: absolute;
    z-index: 3;
    top: -95px;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 1080px;
    height: 135px;
    border-radius: 6px;
    background-color: rgba(#fff, 0.5);
  }

  &__form {
    position: absolute;
    z-index: 10;
    top: -69px;
    display: flex;
    align-items: center;
    max-width: 1150px;
    width: 100%;
    min-height: 135px;
    padding: 0 40px;
    border-radius: 6px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    background-color: #fff;
  }

  &__input {
    position: relative;
    z-index: 2;
    max-width: 615px;
    width: 100%;
    padding: 18px 29px 19px;
    font-size: 16px;
    margin-right: -5px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px solid #dcdcdc;
    color: $btn;
    outline: none;

    &::placeholder {
      color: #676767;
    }

    &:focus {
      outline: 1px solid $btn;
    }
  }

  &__option {
    display: block;
    max-width: 200px;
    width: 100%;
    height: 57px;
    margin-right: 29px;
    padding: 0 39px 0 24px;
    border-radius: 6px;
    background-color: #fff;
    font-size: 16px;
    color: $descr;
    background-image: url(../images/icon/chevron-down.svg);
    background-position: 166px 22px;
    background-repeat: no-repeat;
    background-size: 14px 14px;
    outline: none;
    border: 1px solid #dcdcdc;
    appearance: none;

    &:focus {
      outline: 1px solid $btn;
    }
  }

  &__btn {
    padding: 18px 66px;
    font-size: 16px;
    border: 1px solid transparent;
    background-color: $btn;
    border-radius: 4px;
    color: #fff;
    transition: background-color 0.5s, color 0.5s, border 0.5s;

    &:focus,
    &:hover {
      background-color: #fff;
      color: $btn;
      border: 1px solid $btn;
    }
  }
}

//  End Form-search

// Start
//          proposal

.proposal {
  padding: 187px 0 121px;
  background-color: #fff;

  &__inner {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  &__card {
    max-width: 361px;
    width: 100%;
    padding: 41px 30px 24px;
    cursor: pointer;
    transition: box-shadow 1s;

    &:hover,
    &:focus,
    &--active {
      box-shadow: 0 2px 50px rgba(0, 0, 0, 0.08);
      border-radius: 4px;
    }

    & + .proposal__card {
      margin-left: 29px;
    }
  }

  &__card-img {
    max-width: 125px;
    height: 120px;
    object-fit: cover;
    margin-bottom: 37px;
  }

  &__card-title {
    font-size: 24px;
    color: #000000;
    margin-bottom: 27px;
  }

  &__card-descr {
    font-size: 16px;
    line-height: 30px;
    color: #555555;
  }
}

// end
//          proposal

// Start
//          product-slider

.product-slider {
  padding: 117px 0;
  background-color: $bg2;

  &__title {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }

  &__images {
    position: relative;
    max-width: 555px;
    height: 455px;
  }

  &__img {
    display: block;
    max-width: 555px;
    height: 455px;
  }

  &__arrows {
    width: 108px;
    height: 47px;
    border-radius: 23px;
    background-color: #7347c1;
  }

  .arrows-prev {
    margin-left: 13px;
  }

  .arrows-next {
    margin-left: 23px;
  }

  .slick-arrows {
    border: none;
    background-color: transparent;
    outline: transparent;
    cursor: pointer;
    svg {
      width: 14px;
      height: 14px;
      path {
        fill: #fff;
      }
    }
  }

  &__item {
    display: flex;
    box-shadow: 0 2px 30px rgba(147, 155, 168, 0.1);
    border-radius: 4px;

    &:hover .product-slider__blackout {
      height: 100%;
      border-radius: 4px 0 0 4px;
      background-color: #0674ec;
      background-image: linear-gradient(to left, #0674ec 0%, #7347c1 100%);
      opacity: 0.9;
    }
  }

  .product-slider__blackout {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 555px;
    height: 100%;
    opacity: 0;
    transition: all 1s;
  }

  .product-slider__blackout-btn {
    margin-bottom: 10px;
    padding: 12px 32px;
    font-size: 15px;
    font-weight: 500;
    border: 1px solid #f4f4f4;
    border-radius: 23px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    color: #fff;
    transition: background-color 0.5s, color 0.5s;

    & + .product-slider__blackout-btn {
      margin-left: 11px;
    }

    &--active,
    &:hover,
    &:focus {
      background-color: #ffffff;
      color: $btn;
    }
  }
}

.product-slider {
  &__info {
    max-width: 586px;
    height: 455px;
    padding: 53px 53px 24px;
    background-color: #fff;
  }

  &__info-title {
    display: block;
    margin-bottom: 22px;
    font-size: 24px;
    font-weight: 500;
    color: #000;
  }

  &__info-descr {
    margin-top: 27px;
    font-size: 16px;
    line-height: 30px;
    color: $descr;
  }

  &__categories {
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0 45px;
    padding: 0 20px 0 0;
  }

  &__categories-list {
    & + .product-slider__categories-list {
      margin-left: 7px;
    }
  }

  &__categories-link {
    display: block;
    padding: 9px 14px 8px 17px;
    font-size: 15px;
    border-radius: 14px;
    color: #868c96;
    background-color: #f1f3f6;
  }
}

.product-slider {
  &__buy {
    position: relative;
    padding-top: 19px;
    border-top: 1px solid #ececec;
    display: flex;
    align-items: center;
  }

  &__buy-btn {
    margin-right: 9px;
    padding: 7px 18px;
    color: #ffffff;
    border: 1px solid transparent;
    font-size: 15px;
    font-weight: 500;
    border-radius: 16px;
    background-color: $btn;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s, border 0.5s;
    &:focus,
    &:hover {
      background-color: #fff;
      color: $btn;
      border: 1px solid $btn;
    }
  }

  &__buy-like {
    position: relative;
    padding-left: 37px;
    font-size: 15px;
    border: none;
    background-color: transparent;
    color: $descr;

    .product-slider__buy-icon path {
      fill: $wp-bg;
    }
  }

  &__buy-bag {
    position: relative;
    padding-left: 36px;
    font-size: 15px;
    font-weight: 400;
    border: none;
    background-color: transparent;
    color: $btn;
    .product-slider__buy-icon path {
      fill: $btn;
    }
  }

  &__buy-icon {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 13px;
  }

  &__buy-star {
    display: inline-block;
    margin-left: auto;
  }
}

// end
//          product-slider

// Start
//          product

.product {
  padding: 124px 0;
  background-color: #f6f7fb;

  &__title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px;
  }

  .title {
    padding: 42px 27px 42px 32px;
  }

  &__title-filter {
    position: relative;
    padding-right: 25px;
    font-size: 16px;
    border: none;
    background-color: transparent;
    color: $color-t;
    cursor: pointer;
    outline: transparent;
    height: 20px;

    &::after {
      content: "";
      position: absolute;
      top: -3px;
      right: 0;
      width: 5px;
      height: 20px;
      background-image: url(../images/icon/filter.svg);
    }

    &:hover {
      .product__menu {
        visibility: visible;
        height: auto;
        overflow: visible;
        opacity: 1;
        padding: 21px 31px;
      }
    }
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
  }

  &__filter-btn {
    margin-top: 59px;
    padding: 21px 31px;
    color: #ffffff;
    font-size: 16px;
    border-radius: 28px;
    border: none;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    background-color: $btn;
    cursor: pointer;
    transition: background-image 0.5s;

    &:hover,
    &:focus {
      background-image: linear-gradient(to left, #0d3ef2 0%, #7221a0 100%);
    }
  }
}

.product {
  &__menu {
    position: absolute;
    top: 35px;
    right: -30px;
    width: 183px;
    padding: 0 28px;
    margin: 0;
    height: 0;
    overflow: hidden;
    box-shadow: 0 5px 40px rgba(82, 85, 90, 0.2);
    border-radius: 3px;
    background-color: #ffffff;
    transition: all 0.5s;

    &::before {
      content: "";
      position: absolute;
      top: -16px;
      right: 24px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 9px 16px 9px;
      border-color: transparent transparent #fff transparent;
    }
  }

  &__list {
    & + .product__list {
      margin-top: 16px;
    }
  }

  &__link {
    display: block;
    font-size: 15px;
    font-weight: 400;
    color: $color-t;
    transition: color 0.5s;
    &--active,
    &:hover,
    &:focus {
      color: $btn;
    }
  }
}

.product {
  &__filter {
    text-align: center;
  }

  &__filter-btn {
    margin-top: 27px;
    margin-left: 5px;
    padding: 20px 31px;
    color: #ffffff;
    font-size: 16px;
    border-radius: 28px;
    border: none;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    background-color: $btn;
    cursor: pointer;

    &:focus {
      outline: 1px solid $btn;
    }
  }

  &__categories {
    min-height: 92px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px 33px;
    box-shadow: 0 1px 2px rgba(90, 93, 100, 0.1);
    border-radius: 4px;
    background-color: #fff;
    margin-bottom: 51px;
  }

  &__categories-btn {
    padding: 8px 20px 8px 21px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 16px;
    background-color: #f1f3f6;
    border: none;
    color: $color-t;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;

    & + .product__categories-btn {
      margin-left: 6px;
    }

    &--active,
    &:hover,
    &:active {
      background-color: $btn;
      color: #fff;
    }
  }
}

.product {
  &__cart {
    position: relative;
    max-width: 361px;
    width: 100%;
    margin-bottom: 31px;
    box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
    flex: 1 1 300px;
    margin-right: 28px;
    &:nth-child(3n) {
      margin-right: 0;
    }

    &:hover .product__blackout {
      background-image: linear-gradient(to left, #0674ec 0%, #7347c1 100%);
      opacity: 0.9;
      height: 230px;
    }
    .user {
      margin-right: 22px;
      padding-left: 35px;
    }
  }

  &__cart-img {
    display: block;
    max-width: 361px;
    height: 230px;
    object-fit: cover;
  }

  &__cart-info {
    padding: 30px 34px 25px;
    height: 234px;
    overflow: auto;
  }

  &__cart-title {
    display: block;
    font-size: 20px;
    font-weight: 500;
    color: #000;
    margin-bottom: 20px;
  }

  &__cart-descr {
    margin-top: 25px;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 30px;
    color: $descr;
  }
}

.product__blackout {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: background-image 1s, opacity 1s, height 1s;
  &-btn {
    padding: 13px 28px;
    font-size: 15px;
    font-weight: 500;
    border: 1px solid #f4f4f4;
    border-radius: 23px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    color: #fff;
    transition: background-color 0.5s, color 0.5s;
    & + .product__blackout-btn {
      margin-left: 16px;
    }
    &--active,
    &:hover,
    &:focus {
      background-color: #fff;
      color: $btn;
    }
  }
}

.product {
  &__buy {
    padding: 15px 20px 16px 30px;
    border-top: 1px solid #ececec;
    display: flex;
    justify-content: space-between;
  }

  &__buy-btn {
    &--bag {
      margin-right: 17px;
    }

    &--like {
      margin-right: auto;
      position: relative;
    }
  }

  &__buy-star {
    position: absolute;
    right: 100px;
    bottom: 26px;
  }
}
// end
//          product

// start
//          followers-slider

.followers-slider {
  padding: 115px 0 89px;
  &__title {
    margin-bottom: 46px;
    padding: 30px 27px 34px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__card {
    position: relative;
    max-width: 361px;
    width: 100%;
    margin-bottom: 31px;
    box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
    margin-right: 28px;
    &:hover .followers-slider__blackout {
      background-image: linear-gradient(to left, #0674ec 0%, #7347c1 100%);
      opacity: 0.9;
      height: 230px;
    }
  }
  &__box {
    cursor: pointer;
  }
  .slick-list {
    margin-right: -27px;
  }
  &__arrows {
    width: 108px;
    height: 47px;
    border-radius: 23px;
    background-color: $btn;
  }

  .arrows-prev {
    margin-left: 13px;
  }

  .arrows-next {
    margin-left: 23px;
  }

  .slick-arrows {
    border: none;
    background-color: transparent;
    outline: transparent;
    cursor: pointer;
    svg {
      width: 14px;
      height: 14px;
      path {
        fill: #fff;
      }
    }
  }
}

.followers-slider {
  &__info {
    padding: 30px 34px 25px;
    height: 234px;
    overflow: auto;
  }
  &__navigation {
    &--user {
      padding-left: 36px;
      margin-right: 19px;
      transition: color 0.5s;
      &:hover,
      &:focus {
        color: $btn;
      }
    }
  }

  &__info-title {
    display: block;
    font-size: 20px;
    font-weight: 500;
    color: #000;
    margin-bottom: 20px;
    cursor: pointer;
    transition: opacity 0.5s;
    &:hover,
    &:focus {
      opacity: 0.5;
    }
  }

  &__descr {
    margin-top: 24px;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 30px;
    color: $descr;
  }
}

.followers-slider {
  &__buy {
    padding: 19px 20px 12px 32px;
    border-top: 1px solid #ececec;
    display: flex;
    justify-content: space-between;
  }
  &__buy-btn {
    &--bag {
    }

    &--like {
      margin-right: auto;
      position: relative;
    }
  }
  &__star {
    margin-top: 8px;
    margin-left: 10px;
  }
}

.followers-slider {
  &__blackout {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: background-image 1s, opacity 1s, height 1s;
  }
  &__blackout-btn {
    padding: 13px 28px;
    font-size: 15px;
    font-weight: 500;
    border: 1px solid #f4f4f4;
    border-radius: 23px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    color: #fff;
    transition: background-color 0.5s, color 0.5s;
    & + .followers-slider__blackout-btn {
      margin-left: 16px;
    }
    &--active,
    &:hover,
    &:focus {
      background-color: #ffffff;
      color: $btn;
    }
  }
}

// end
//          followers-slider
// start
//          fun-fact
.fun-fact {
  background-color: #212225;

  &__inner {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 95px 0;
  }

  &__icon {
    width: 55px;
    height: 46px;

    &--yellow {
      path {
        fill: #feb71d;
      }
    }

    &--blue {
      path {
        fill: #58c9e9;
      }
    }

    &--green {
      path {
        fill: #77de51;
      }
    }

    &--red {
      path {
        fill: #ff6a6d;
      }
    }
  }
}

.fun-fact {
  &__card {
    max-width: 114px;
    width: 100%;
    cursor: pointer;
    transition: opacity 0.5s;
    &:hover,
    &:focus {
      opacity: 0.5;
    }

    &--usser {
      max-width: 94px;
      width: 100%;
    }
    &--cloud {
      max-width: 127px;
      width: 100%;
    }
    &--smail {
      max-width: 153px;
      width: 100%;
    }
  }

  &__card-img {
    margin-bottom: 51px;
  }

  &__card-number {
    font-size: 36px;
    margin-bottom: 27px;

    &--yellow {
      color: #feb71d;
    }

    &--blue {
      color: #58c9e9;
    }

    &--green {
      color: #77de51;
    }

    &--red {
      color: #ff6a6d;
    }
  }

  &__card-text {
    font-size: 18px;
    color: #fff;
  }
}
// end
//          fun-fact

// start
//          choose-people
.choose-people {
  padding: 131px 0 121px;
  &__title {
    margin-bottom: 33px;
  }

  &__text {
    margin-bottom: 25px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__icon {
    width: 80px;
    height: 55px;
    transition: opacity 0.5s;
    &--blue {
      path {
        fill: $btn;
      }
    }

    &--violet {
      path {
        fill: #7f4ec2;
      }
    }

    &--green {
      path {
        fill: #77de51;
      }
    }

    &--yellow {
      path {
        fill: #feb71d;
      }
    }

    &--turquoise {
      path {
        fill: #58c9e9;
      }
    }

    &--red {
      path {
        fill: #ff6a6d;
      }
    }
  }
  &__number {
    position: absolute;
    left: 22px;
    top: 33px;
    opacity: 0.2;
    color: #5c87f8;
    font-size: 48px;
    font-weight: 300;
  }
}

.choose-people__card {
  position: relative;
  max-width: 361px;
  width: 100%;
  padding: 56px 30px 36px;
  box-shadow: 0 2px 50px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  background-color: #fff;
  margin-top: 27px;
  text-align: center;
  cursor: pointer;
  &:hover,
  &:focus {
    .choose-people__icon {
      opacity: 0.5;
    }
    .choose-people__card-title {
      color: $btn;
    }
  }
}

.choose-people {
  &__card-img {
    margin-bottom: 49px;
  }

  &__card-title {
    font-size: 24px;
    color: #000;
    margin-bottom: 26px;
    transition: color 0.5s;
  }

  &__card-descr {
    font-size: 16px;
    line-height: 30px;
    color: $descr;
  }
}
// end
//          choose-people

//  start
//          sell-buy
.sell-buy {
  padding-bottom: 127px;

  &__inner {
    display: flex;
    justify-content: center;
  }
  &__box {
    max-width: 588px;
    width: 100%;
    margin: 0 69px auto;
    &--shoping {
      margin-right: 55px;
      margin-left: auto;
    }
  }

  &__item {
    max-width: 50%;
    width: 100%;
    min-height: 561px;
    padding: 100px 0;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__img {
    margin-bottom: 54px;
  }

  &__title {
    margin-bottom: 31px;
    font-size: 36px;
    color: #fff;
  }

  &__descr {
    max-width: 600px;
    margin: 0 auto 65px;
    color: #ffffff;
    font-size: 16px;
    line-height: 30px;
  }

  &__btn {
    padding: 17px 27px;
    font-size: 16px;
    color: $btn;
    border: 1px solid transparent;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 28px;
    background-color: #fff;
    transition: background-color 0.5s, border 0.5s, color 0.5s;

    &:hover,
    &:focus {
      background-color: $btn;
      border: 1px solid #fff;
      color: #fff;
    }

    &--violet {
      margin-right: 10px;
      padding: 17px 40px;
      color: $wp-bg;
      &:hover,
      &:focus {
        background-color: $wp-bg;
        border: 1px solid #fff;
        color: #fff;
      }
    }
  }
}
//  end
//          sell-buy
// start
//          Feedback
.feedback {
  padding-bottom: 120px;

  &__title {
    margin-bottom: 34px;
  }

  &__text {
    margin-bottom: 60px;
  }

  &__inner {
    margin-bottom: 60px;
  }

  .slick-arrows {
    position: absolute;
    top: 140px;
    width: 50px;
    height: 50px;
    border: none;
    box-shadow: 0 4px 15px rgba(67, 67, 67, 0.15);
    border-radius: 50%;
    background-color: #ffffff;
    outline: none;
    path {
      fill: $btn;
    }
  }

  .arrows-prev {
    left: -24px;
    z-index: 3;
  }

  .arrows-next {
    z-index: 3;
    right: -24px;
  }

  .slick-disabled {
    path {
      fill: #7347c1 !important;
    }
  }

  .slick-slider {
    box-shadow: 0 4px 15px rgba(67, 67, 67, 0.15);
  }
}

.feedback {
  &__row {
    max-width: 555px;
    width: 100%;
    padding: 43px 36px 33px 36px;
    box-shadow: 0 2px 50px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    background-color: #ffffff;
    border-left: 2px solid $btn;
    margin-right: 30px;
  }

  &__row-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 21px;
  }

  &__row-user {
    display: flex;
  }

  &__row-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 19px;
  }

  &__row-name {
    margin: 15px 0 14px;
    font-size: 20px;
    color: #000;
  }

  &__row-position {
    display: block;
    margin-top: 21px;
    font-size: 16px;
    color: $descr;
  }

  &__row-icon {
    width: 67px;
    height: 61px;
    margin-top: -1px;
    path {
      fill: #e8e8e8;
    }
  }

  &__row-descr {
    margin: 10px 0;
    min-height: 106px;
    overflow: hidden;
    font-size: 16px;
    line-height: 30px;
    color: $descr;
  }

  &__btn {
    text-align: center;
  }

  &__btn-link {
    display: inline-block;
    padding: 21px 34px;
    font-size: 16px;
    color: #fff;
    border: 1px solid transparent;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 28px;
    background-color: $btn;
    transition: background-image 0.5s, border 0.5s, color 0.5s;

    &:hover,
    &:focus {
      background-image: linear-gradient(to left, #0d3ef2 0%, #7221a0 100%);
      border: 1px solid $btn;
    }
  }
}
// end
//          Feedback

// start
// blog
.blog {
  background-color: #eff1f5;
  padding: 125px 0;

  &__title {
    margin-bottom: 34px;
  }

  &__text {
    margin-bottom: 54px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }
}

.blog {
  &__card {
    display: block;
    max-width: 361px;
    width: 100%;
    box-shadow: 0 2px 50px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
    &:hover,
    &:focus {
      .blog__card-title {
        color: $btn;
      }
    }
  }

  &__card-img {
    max-width: 361px;
    min-height: 230px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__card-info {
    padding: 23px 26px 10px 26px;
    height: 186px;
    overflow: auto;
  }

  &__card-title {
    display: block;
    margin-bottom: 20px;
    font-size: 22px;
    line-height: 28px;
    font-weight: 500;
    color: #000;
    transition: color 0.5s;
  }

  &__card-descr {
    font-size: 16px;
    line-height: 30px;
    color: $descr;
  }
}

.blog {
  &__footer {
    min-height: 58px;
    display: flex;
    padding: 14px 22px 13px 30px;
    border-top: 1px solid #ececec;
  }

  &__footer-time {
    position: relative;
    padding-top: 8px;
    margin-right: auto;
    padding-left: 24px;
    padding-right: 47px;
    font-size: 15px;
    color: #999;
    border-right: 1px solid #ececec;
    cursor: pointer;
  }

  &__footer-icon {
    position: absolute;
    top: 8px;
    left: 0;
    width: 16px;
    height: 15px;
    cursor: pointer;
    path {
      fill: #7e7e7e;
    }

    &--blue {
      path {
        fill: $btn;
      }
    }
  }

  &__footer-btn {
    position: relative;
    font-size: 15px;
    border: none;
    padding-left: 23px;
    background-color: transparent;
    color: #7e7e7e;
    cursor: pointer;
    & + .blog__footer-btn {
      margin-left: 24px;
    }
  }
}
// end
// blog
// start
//          money-support
.money-support {
  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__line {
    width: 1px;
    height: 297px;
    background-color: #e8eaf3;
  }
}

.money-support {
  &__row {
    position: relative;
    max-width: 579px;
    width: 100%;
    padding: 62px 0;
    text-align: center;

    &--line {
      max-width: 535px;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: -38px;
        width: 1px;
        height: 297px;
        background-color: #e8eaf3;
      }
    }
    &:hover,
    &:focus {
      .money-support__row-img {
        opacity: 0.5;
      }
      .money-support__row-text--blue {
        color: $wp-bg;
      }
      .money-support__row-text--violet {
        color: $btn;
      }
    }
  }

  &__row-img {
    display: block;
    max-width: 150px;
    height: 120px;
    margin: 0 auto;
    object-fit: cover;
    margin-bottom: 31px;
    transition: opacity 0.5s;
  }

  &__row-text {
    font-size: 24px;
    color: #000;
    cursor: pointer;

    &--blue {
      transition: color 0.5s;
      color: $btn;
    }

    &--violet {
      transition: color 0.5s;
      color: $wp-bg;
    }
  }
}
// end
//          money-support
// start
//          banner
.banner {
  padding: 118px 0 109px;
  text-align: center;
  background-color: #151a20;
  background-image: linear-gradient(to left, #0d3ef2 0%, #7221a0 100%);
  opacity: 0.9;

  &__slogan {
    margin-bottom: 36px;
    font-size: 36px;
    color: #fff;
  }

  &__descr {
    margin-bottom: 50px;
    font-size: 18px;
    color: #e7e7e7;
  }

  &__btn {
    padding: 20px 44px 19px 43px;
    font-size: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 28px;
    background-color: #fff;
    color: $btn;
    cursor: pointer;
    transition: all 1s;
    &:hover,
    &:focus {
      background-image: linear-gradient(to left, #0d3ef2 0%, #7221a0 100%);
      color: #fff;
    }
  }
}
// end
//          banner
// start
//          foooter
.footer {
  padding-top: 115px;
  background-color: #262b30;

  &__content {
    padding-bottom: 101px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    display: block;
    margin-bottom: 22px;
  }

  &__text {
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 28px;
    color: #ababab;
  }

  &__title {
    margin-top: 19px;
    margin-bottom: 35px;
    font-size: 18px;
    letter-spacing: 0.9px;
    color: #fff;
    cursor: pointer;
    transition: color 0.5s;
    &:hover,
    &:focus {
      color: $wp-bg;
    }
  }
}

.logo {
  width: 163px;
}

.footer__row {
  max-width: 263px;
  width: 100%;

  &--company {
    max-width: 241px;
    width: 100%;
    padding-left: 37px;
  }

  &--support {
    max-width: 152px;
    width: 100%;
  }

  &--social {
    max-width: 361px;
    width: 100%;
  }
}

.footer {
  &__info {
    padding: 0;
    margin-bottom: 0;
  }
  &__info-list {
    max-width: 250px;
    width: 100%;
  }
  &__info-link {
    position: relative;
    display: block;
    margin-top: 8px;
    padding-left: 30px;
    font-size: 15px;
    line-height: 26px;
    color: #ababab;
    transition: color 0.5s;
    &:hover,
    &:focus {
      color: $wp-bg;

      .footer__info-icon {
        path {
          fill: $btn;
        }
      }
    }
  }
  &__info-icon {
    position: absolute;
    top: 4px;
    left: 0;
    width: 18px;
    height: 17px;
    path {
      transition: fill 0.5s;
      fill: #fff;
    }
    &--phone {
      top: 18px;
    }
  }
}

.footer__navigation {
  padding: 0;
}
.footer__link {
  display: block;
  color: #ababab;
  margin-bottom: 17px;
  font-size: 15px;
  transition: color 0.5s;
  &:hover,
  &:focus {
    color: $btn;
  }
}

.footer {
  &__form {
    position: relative;
  }

  &__form-input {
    display: block;
    width: 100%;
    margin-top: 26px;
    padding: 16px 130px 17px 30px;
    font-size: 15px;
    border: 1px solid transparent;
    border-radius: 25px;
    background-color: #fff;
    color: $btn;
    outline: transparent;
    transition: border 0.5s;

    &:hover,
    &:focus {
      border: 1px solid $btn;
    }

    &::placeholder {
      color: #ababab;
    }
  }

  &__form-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 16px 28px;
    border-radius: 25px;
    border: 1px solid transparent;
    background-color: $btn;
    color: #fff;
    transition: background-color 0.5s, border 0.5s, color 0.5s;

    &:hover,
    &:focus {
      background-color: #fff;
      border: 1px solid $btn;
      color: $btn;
    }
  }
}

.footer {
  &__social {
    margin-top: 47px;
    padding: 0;
    display: flex;
  }

  &__social-list {
    margin-right: 13px;
  }

  &__social-link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    transition: opacity 0.5s;
    &:hover,
    &:focus {
      opacity: 0.5;
      &::before {
        transform: scale(1.2);
      }
    }
    &::before {
      content: "";
      transition: transform 0.5s;
    }

    &--facebook {
      background-color: #395799;
      &::before {
        content: "\f09a";
        font-family: "icomoon";
        color: #fff;
      }
    }

    &--twitter {
      background-color: #19b2f5;
      &::before {
        content: "\f099";
        font-family: "icomoon";
        color: #fff;
      }
    }

    &--google {
      background-color: #f05b44;
      &::before {
        content: "\f1a0";
        font-family: "icomoon";
        color: #fff;
      }
    }

    &--pinterest {
      background-color: #9c0c1c;
      &::before {
        content: "\f0d2";
        font-family: "icomoon";
        color: #fff;
      }
    }

    &--linkedin {
      background-color: #0da6be;
      &::before {
        content: "\f0e1";
        font-family: "icomoon";
        color: #fff;
      }
    }

    &--map {
      background-color: #ea4c89;
      &::before {
        content: "\f1a0";
        font-family: "icomoon";
        color: #fff;
      }
    }
  }
}

.footer {
  &__copy {
    padding: 40px 0;
    background-color: #192027;
    text-align: center;

    &:hover,
    &:focus {
      .footer__copy-text--white {
        color: $btn;
      }
    }
  }

  &__copy-text {
    font-size: 15px;
    color: #999999;

    &--white {
      transition: color 0.5s;
      color: #fff;
    }
  }
}
// end
//          foooter

// start category-page
.main {
  background-color: #eff1f5;
}
.search {
  min-height: 281px;
  background-color: #441c7c;
  background-image: linear-gradient(to left, #0d3ef2 0%, #4c1f9c 100%);
  opacity: 0.9;

  &__inner {
    max-width: 555px;
    padding: 88px 0 13px;
    margin: 0 auto;
    text-align: center;
  }
  &__text {
    font-size: 26px;
    color: #f3f3f8;
    margin-bottom: 38px;

    &--bold {
      font-size: 26px;
      font-weight: 500;
    }
  }
}

.search {
  &__form {
    position: relative;
    margin-bottom: 35px;
  }
  &__form-input {
    display: block;
    width: 100%;
    padding: 20px 140px 20px 30px;
    color: $color-t;
    font-size: 15px;
    border-radius: 28px;
    border: 1px solid transparent;
    background-color: #ffffff;
    outline: transparent;
    cursor: pointer;
    transition: border .5s;

    &:focus,
    &:hover {
      border: 1px solid $btn;
    }
  }

  &__form-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 20px 31px;
    font-size: 15px;
    border-radius: 28px;
    color: #fff;
    border: 1px solid transparent;
    background-color: $btn;
    transition: background-color 0.5s, color 0.5s;
    outline: transparent;
    cursor: pointer;

    &:focus,
    &:hover {
      background-color: #fff;
      border: 1px solid $btn;
      color: $btn;
    }
  }
}

.breadcrumbs {
  padding: 0;

  &__list {
    position: relative;
    display: inline-block;

    & + .breadcrumbs__list {
      margin-left: 20px;

      &::before {
        content: "/";
        position: absolute;
        top: 0;
        left: -16px;
        color: #f3f3f8;
      }
    }
  }

  &__link {
    font-size: 15px;
    color: #ffffff;

    &--active {
      color: #bfcad7;
    }
  }
}

.filter-bar {
  box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
  background-color: #fff;

  &__inner {
    height: 100px;
    display: flex;
    align-items: center;
  }

  &__box {
    margin-left: auto;
    display: flex;
  }

  &__item {
    padding: 8px 18px;
    margin-left: 30px;
    border-radius: 3px;
    border: 1px solid #eceff2;
  }
}

.filter-bar__btn {
  padding: 0;
  border: none;
  background-color: transparent;
  font-size: 16px;
  color: $descr;
  transition: color 0.5s;
  outline: transparent;
  & + .filter-bar__btn {
    margin-left: 39px;
  }

  &--active,
  &:focus,
  &:hover {
    color: $btn;
  }
}

.filter-bar__select {
  height: 44px;
  padding: 0 85px 0 20px;
  font-size: 14px;
  border-radius: 3px;
  border: 1px solid #eceff2;
  appearance: none;
  outline: transparent;
  color: #747b86;
  font-size: 14px;
  line-height: 32px;
  background-image: url(../images/icon/chevron-down.svg);
  background-repeat: no-repeat;
  background-position: 187px;
  background-size: 11px;
  color: #747b86;
  cursor: pointer;
  transition: color .5s, border-color .5s;
  &:hover,
  &:focus {
    border-color: $btn;
    color: $wp-bg;
  }
  &:first-child {
    margin-right: 31px;
  }

  & + .filter-bar__select {
    padding: 0 82px 0 20px;
  }
}

.filter-bar__icon {
  border: none;
  background-color: transparent;
  outline: transparent;
  padding: 0;
  cursor: pointer;

  & + .filter-bar__icon {
    margin-left: 10px;
    margin-right: 2px;
  }

  path {
    fill: #747b86;
  }

  &--active {
    path {
      fill: $btn;
    }
  }
}

.product-page__wrapper {
  display: flex;
  padding: 80px 0 118px;
}

.product-page__filter {
  max-width: 263px;
  width: 100%;
  margin-right: 36px;
}

.product-page__filter-box {
  padding: 31px 22px 6px 28px;
  box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
  border-radius: 4px;
  background-color: #ffffff;
  margin-bottom: 29px;
  &--checkbox {
    padding: 31px 23px 26px 28px;
  }
  &--range {
    padding: 31px 28px 41px 28px;
  }
}

.product-page__title {
  position: relative;
  font-size: 20px;
  color: #010101;
  padding-bottom: 28px;
  border-bottom: 1px solid #e7ebee;
  cursor: pointer;
  transition: color .5s;
  &:hover,
  &:focus {
    color: $wp-bg;
    .product-page__icon {
      path {
        fill: $wp-bg;
      }
    }
  }
  .product-page__icon {
    position: absolute;
    right: 0;
    top: 1px;
    width: 13px;
    height: 13px;
    path {
      transition: fill .5s;
      fill: $descr;
    }
  }
}

.product-page {
  &__item {
    padding: 0;
    margin-top: 21px;
  }

  &__list {
    display: flex;
    padding: 10px 0;
  }
  &__link {
    position: relative;
    font-size: 15px;
    line-height: 16px;
    color: $descr;
    padding-left: 21px;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 3px;
      width: 10px;
      height: 10px;
      background-image: url(../images/icon/chevron-right.svg);
      background-size: 10px;
      transition: color 0.5s;
    }
    &--active,
    &:hover,
    &:focus {
      color: $btn;
    }
  }
  &__text {
    margin-left: auto;
    font-size: 15px;
    color: #747b86;
    cursor: pointer;
  }
}

.product-page {
  &__form {
    margin-top: 19px;
    padding-left: 12px;
  }
  &__label {
    position: relative;
    display: block;
    padding: 10px 0;
    font-size: 15px;
    line-height: 16px;
    padding-left: 10px;
    color: $color-t;
    transition: color .5s;
    cursor: pointer;
    &:hover,
    &:focus {
      color: $btn;
    }
  }
  &__checkbox {
    display: inline-block;
    appearance: none;
    position: absolute;
  }
  &__custom {
    position: absolute;
    left: -10px;
    top: 13px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #747b86;
  }
}

.product-page__checkbox:checked + .product-page__custom {
  background-image: linear-gradient(to left, #0d3ef2 0%, #7221a0 100%);
}
.product-page__checkbox:focus + .product-page__custom {
  background-image: linear-gradient(to left, #0d3ef2 0%, #7221a0 100%);
}

.product-page__checkbox:checked:focus + .product-page__custom {
  background-image: linear-gradient(to left, #0d3ef2 0%, #7221a0 100%);
}

.product-page__range {
  position: relative;
  margin-top: 12px;
  text-align: center;
}

.irs--flat .irs-max,
.irs--flat .irs-min {
  display: none;
}

.irs-from,
.irs-single,
.irs-to {
  top: 56px;
  cursor: pointer;
}

.irs--flat .irs-from:before,
.irs--flat .irs-single:before,
.irs--flat .irs-to:before {
  display: none;
}


.irs--flat .irs-bar {
  top: 25px;
  height: 6px;
  border-radius: 3px;
  background-color: #7347c1;
}

.irs--flat .irs-line {
  top: 25px;
  height: 6px;
  border-radius: 3px;
  background-color: #efedf3;
}

.irs--flat .irs-handle {
  top: 18px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 4px solid #0674ec;
  background-color: #ffffff;
  cursor: pointer;
}

.irs--flat .irs-handle > i:first-child {
  display: none;
}

.irs--flat .irs-from,
.irs--flat .irs-single,
.irs--flat .irs-to {
  color: $wp-bg;
  font-size: 15px;
  line-height: 1.333;
  text-shadow: none;
  padding: 8px 27px;
  border-radius: 16px;
  background-color: rgba($wp-bg, 0.1);
}

.product-page__btn {
  margin-top: 78px;
  padding: 13px 31px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 22px;
  color: #fff;
  background-color: #0674ec;
  outline: none;
  cursor: pointer;
  transition: background-image .5s;
  &:hover,
  &:focus {
    background-image: linear-gradient(to left, #0d3ef2 0%, #7221a0 100%)
  }
}

.product-page {
  &__inner {
    display: flex;
    flex-wrap: wrap;
  }
  &__card {
    max-width: 262px;
    width: 100%;
    margin-right: 30px;
    margin-bottom: 32px;
    box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
    border-radius: 4px;
    background-color: #ffffff;
    cursor: pointer;

    &:nth-child(3n) {
      margin-right: 0;
    }

    &:hover,
    &:focus {
      .product-page__card-title {
        color: $btn;
      }
    }
  }

  &__img {
    display: block;
    max-width: 262px;
    min-height: 160px;
    border-radius: 4px 4px 0 0;
  }

  &__card-info {
    padding: 13px 19px 13px;
    background-color: #fff;
  }

  &__card-title {
    display: block;
    margin-bottom: 11px;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    color: #000;
    transition: color .5s;
  }

  &__card-user {
    display: block;
    font-size: 15px;
    color: #000;
    padding-left: 37px;
  }

  &__card-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
    .btn-icon {
      top: 1px;
    }
  }
  &__buy {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 11px 20px 15px;
    border-top: 1px solid #ececec;
    background-color: #fff;
    .platform-icon {
      top: 8px;
    }
    .platform {
      padding-left: 14px;
    }
  }
}

.product-page {
  &__pagination {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 30px;
  }

  &__pagination-inner {
    display: flex;
    justify-content: space-between;
    max-width: 397px;
    width: 100%;
    padding: 0 0 0 41px;
    margin: 0;
  }

  &__pagination-link {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 19px;
    width: 50px;
    min-height: 38px;
    color: #747b86;
    font-size: 16px;
    font-weight: 500;
    background-color: #ffffff;

    &--arrow {
      padding: 13px 17px;
      margin-right: 20px;
      transition: background-color 0.5s;

      &:hover,
      &:focus {
        background-color: $wp-bg;
        .product-page__pagination-icon {
          path {
            fill: #fff;
          }
        }
      }
    }

    &--active {
      margin-right: 0;
      margin-left: 20px;
      background-color: $wp-bg;

      .product-page__pagination-icon {
        path {
          fill: #fff;
        }
      }
    }

    &--activ-link {
      background-color: $btn;
      color: #fff;
    }
  }

  &__pagination-icon {
    width: 16px;
    height: 12px;
    path {
      transition: fill 0.5s;
      fill: #000;
    }
  }

  .number {
    transition: background-color 0.5s, color 0.5s;
    &:hover,
    &:focus {
      background-color: $btn;
      color: #fff;
    }
  }
}

.product-page__box.list {
  display: block;
}

.product-page__card.list {
  display: none;
}

.product-page {
  &__box {
    display: none;
    margin-bottom: 17px;
  }
  &__listcard {
    display: flex;
    max-width: 100%;
    box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
    border-radius: 4px;
    background-color: #fff;
    padding: 0;
    margin-bottom: 30px;
  }

  &__listcard-img {
    display: block;
    max-width: 230px;
    min-height: 210px;
    border-radius: 4px 0 0 4px;
  }

  &__listcard-box {
    position: relative;
    & + .product-page__listcard-box {
      &::before {
        content: "";
        position: absolute;
        left: 0;
        width: 1px;
        height: 151px;
        background-color: #ececec;
      }
    }

    &--info {
      max-width: 259px;
      padding: 24px 30px 6px 20px;
    }

    &--user {
      max-width: 206px;
      padding: 29px 30px 6px 19px;
    }

    &--buy {
      max-width: 150px;
      padding: 29px 5px 6px 5px;
      text-align: center;
    }
  }

  &__listcard-title {
    display: block;
    margin-bottom: 14px;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    color: #000;
  }

  &__listcard-descr {
    margin-top: 0;
    margin-bottom: 11px;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: $descr;
    height: 60px;
    overflow: auto;
  }

  &__listcard-platform {
    padding-left: 27px;
  }
  &__listcard-icon {
    left: 5px !important;
    top: 4px;
  }
}

.product-page {
  &__listcard-user {
    margin: 12px 0 23px 0;
    font-size: 15px;
    color: #000;
    .user-logo {
      top: 1px;
      left: 3px;
    }
  }

  &__listcard-widget {
    position: relative;
    display: inline-block;
    padding-left: 25px;
    font-size: 15px;
    color: #6f7d8d;
    & + .product-page__listcard-widget {
      margin-top: 13px;
    }
  }

  &__listcard-icon {
    position: absolute;
    left: 0;
    width: 16px;
    height: 14px;
    path {
      fill: $wp-bg;
    }
  }

  &__listcard-star {
    display: flex;
    margin-top: 13px;
    font-size: 15px;
    font-weight: 400;
    color: #6f7d8d;

    .rate-star {
      padding: 0;
      margin-right: 36px;
    }
  }
}

.product-page {
  &__listcard-btn {
    .btn-icon {
      top: 2px;
    }
    &:first-child {
      margin-top: 38px;
      margin-bottom: 26px;
    }
  }
}
// end category-page
