@import "global";
@import "vars";
@import "fonts";
@import "dropdown";

.header__top {
  background-color: $bg;
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
}

.header__info {
  position: relative;
  display: flex;
  align-items: center;

  &-seller {
    display: block;
    width: 140px;
    margin-right: 50px;
    padding: 16px 0 12px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    border-radius: 28px;
    color: #fff;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
    background-color: $btn;
  }
  &-icon {
    display: flex;
    align-items: center;
    margin-right: 48px;
  }
  &-link {
    position: relative;
    & + .header__info-link {
      margin-left: 30px;
    }
    &::after {
      content: "25";
      text-align: center;
      position: absolute;
      bottom: 13px;
      left: 11px;
      width: 22px;
      height: 22px;
      font-weight: 500;
      font-size: 14px;
      border-radius: 50%;
      line-height: 20px;
      color: #fff;
    }
  }
}

.header__info-link--color-pink::after {
  content: "25";
  width: 26px;
  height: 22px;
  left: 6px;
  bottom: 16px;
  background-color: #ff6a6c;
}

.header__info-link--color-green::after {
  content: "2";
  background-color: #62d03b;
}

.header__info-link--color-blue::after {
  content: "2";
  bottom: 15px;
  background-color: #0674ec;
}

.header__user {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 22px;
}

.header__profile {
  &-name {
    position: relative;
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #333;
  }
  &-purse {
    font-size: 15px;
    font-weight: 400;
    color: $btn;
  }
}

.header__bottom-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
  background-color: #fff;
}

.header__menu {
  &-item {
    position: relative;
    display: flex;
    padding: 0;
  }
  &-list {
    & + .header__menu-list {
      margin-left: 34px;
    }
  }
  &-link {
    font-size: 15px;
    line-height: 42px;
    font-weight: 500;
    text-transform: uppercase;
    color: $text;
  }
}

.header__form {
  position: relative;
  &-input {
    width: 358px;
    height: 44px;
    padding: 0 75px 0 24px;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
    border: 1px solid #d9dfe5;
    border-radius: 36px;
    &::placeholder {
      color: #898f96;
    }
  }
  &-btn {
    position: absolute;
    top: -1px;
    right: -1px;
    background-color: $btn;
    width: 70px;
    height: 45px;
    border: none;
    border-radius: 36px;
  }
}

.dropdown-menu--wordpress {
  left: 215px;
}

.marketplace {
  padding: 150px 0 200px;
  background-color: #294dcf;
  &__inner {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    color: #f3f3f8;
  }
  &__title {
    font-size: 60px;
    line-height: 70px;
    font-weight: 700;
    margin-bottom: 25px;
  }
  &__text {
    display: block;
    font-weight: 400;
  }
  &__descr {
    margin-bottom: 70px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
  }
  &__btn {
    width: 190px;
    padding: 17px 0;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 28px;
    border: 1px solid #ffffff;
    background-color: transparent;
    color: #fff;
    & + .marketplace__btn {
      margin-left: 30px;
    }
    &--active {
      background-color: #fff;
      color: $btn;
    }
  }
}

.proposal {
  padding: 227px 0 121px;
  background-color: #fff;
  &__inner {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  &__card {
    max-width: 361px;
    width: 100%;
    padding: 41px 35px 49px;
    transition: box-shadow 1s;
    &:hover,
    &--active {
      box-shadow: 0 2px 50px rgba(0, 0, 0, 0.08);
      border-radius: 4px;
    }
    & + .proposal__card {
      margin-left: 29px;
    }
    &-img {
      width: 113px;
      object-fit: cover;
      margin-bottom: 38px;
    }
    &-title {
      font-size: 24px;
      color: #000000;
      margin-bottom: 34px;
    }
    &-descr {
      font-size: 16px;
      line-height: 30px;
      color: #555555;
    }
  }
}
